<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raumliste</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='shared.css') }}">
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="/">Rooms</a></li>
                <li><a href="/sell">Sell</a></li>
                <li><a href="/account">Account</a></li>
            </ul>
        </nav>
    </header>


    <h1>Räume</h1>
    <ul id="roomsList">
        {% for room in rooms %}
            <li>
                <a href="{{ url_for('room_detail', room_id=room._id) }}">{{ room.name }}</a>
            </li>
        {% endfor %}
    </ul>
    

   
<!-- ... (der Rest deines HTML-Codes) -->

</body>
</html>
